<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probando</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>
        Probando EJS
    </h1>

    <h2>Register</h2>
    <form action="/usuarios/register" method="post" class="form">

        <label for="">Name</label>
        <input type="text" name="name">
        <br>
        <label for="">Age</label>
        <input type="text" name="age">
        <br>
        <label for="">Email</label>
        <input type="text" name="email">
        <br>

        <button type="submit">Enviar</button>
    </form>


    
</body>
</html>