<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>user list</h1>

    <ul> 
       <% for (let i=0; i< users.length; i++) { %>
        <li>
            <a href="/usuarios/list" <%= users[i].id %>></a>
            <form action="?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form>
        </li>
       <% } %>

    </ul>
</body>
</html>