body {
    background-color: coral;
    color: white;
    margin: auto;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 30vw;
    
    
    
}

